@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.container {
  display: inline;
  align-items: center;
  justify-content: center;
}

.nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.nav li {
  list-style: none;
  display: flex;
  float: right;
  vertical-align: middle;
}

.nav li a:hover{
  color: #61796D;
}

.nav li a {
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: grey;
}

.nav ul {
  text-align: left;
  position: absolute;
  vertical-align: middle;
  margin-top: 0%;
  right: 25%;
}

.introduction > p{
  font-family: 'Montserrat', system-ui, sans-serif;
}

.pfpC{
  height: 275px;
  width: 275px;
  margin: 0px 10px 0px 0px;
}

.emph{
  font-family: 'Montserrat', system-ui, sans-serif;
  color: #d63384;
  /* background-color: #EEF0EE; */
}


